.element__btn-delete {
  position: absolute;
  top: 22px;
  right: 22px;
  cursor: pointer;
  background-color: #00000000;
  padding: 0;
  width: 22px;
  height: 19px;
  border: none;
  background-image: url('../../../images/delete-card.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  transition: opacity .5s ease-out;
}

.element__btn-delete:hover {
  opacity: .6;
}
