.profile__container-avatar {
  margin-bottom: 26px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.profile__container-avatar:after {
  content: '';
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
  background-image: url("../../../images/change-avatar.svg");
  background-size: 26px 26px;
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity .5s linear;
}

.profile__container-avatar:hover:after {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .profile__container-avatar {
    margin-bottom: 0;
    margin-right: 30px;
  }
}