.profile__section-info {
  margin-bottom: 32px;
  display: grid;
  grid-template-columns: 18px auto 18px;
  row-gap: 8px;
  column-gap: 10px;
  grid-template-areas: ".        name     btn-edit"
                       "subtitle subtitle subtitle";
}

@media screen and (min-width: 768px) {
  .profile__section-info {
    margin-bottom: 0;
    grid-template-columns: auto 24px;
    row-gap: 10px;
    column-gap: 23px;
    grid-template-areas: "name     btn-edit"
                         "subtitle subtitle";
  }
}