.figure-img__caption {
  max-width: 240px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFF;
}

@media screen and (min-width: 768px) {
  .figure-img__caption {
    max-width: 291px;
  }
}