.header {
  padding-bottom: 31px;
  box-sizing: border-box;
  /* HEX(54) -> DEC(84) */
  border-bottom: 1px solid rgba(84, 84, 84, .7); 
}

@media screen and (min-width: 992px) {
  .header {
    padding-bottom: 40px;
  }
}